@model TriagemCligest.Models.Contador

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_Contador" class="control-label"></label>
                <input asp-for="_Contador" class="form-control" />
                <span asp-validation-for="_Contador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCompany" class="control-label"></label>
                <input asp-for="IdCompany" class="form-control" />
                <span asp-validation-for="IdCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDCentroCusto" class="control-label"></label>
                <input asp-for="IDCentroCusto" class="form-control" />
                <span asp-validation-for="IDCentroCusto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
